# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS/Editor generierte Dateien
.DS_Store
Thumbs.db

# PlatformIO project extras
ZZ_Ideas/
# Node/Vue
node_modules/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env*
/src/secret
/webui/dist/
