# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS/Editor generierte Dateien
.DS_Store
Thumbs.db

# PlatformIO project extras
ZZ_Ideas/
# Node/Vue
node_modules/
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env*

# ssl
src/ssl/*.pem
src/ssl/*.crt
src/ssl/*.key
src/ssl/*.cer
data/ssl/*.pem
data/ssl/*.crt
data/ssl/*.key
data/ssl/*.cer
